.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 100%;
  margin: 50px;
  @media (max-width: 860px) {
    flex-flow: column wrap;
    justify-content: stretch;
    padding: 10px;
  }
}